 :root {
     --primary-color: #385170;
     --secondary-color: #e5eaf5;
     --accent-color: #80b0d0;
     --bg-color: #fcf8f3;
     --card-bg-color: #ffffff;
 }

 html {
    scroll-behavior: smooth;
}

 body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.logo img {
    width: 115px;
    height: 50px;
    padding-top: 20px;

}

 header {
    background: var(--primary-color);
    transition: background 0.3s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-size: 17px;
    color: #ffffff;
}
.work-experience {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
    height: 100px;
}

 #skills ul li {
     font-size: 18px;
     line-height: 1.5;
 }
 .skills-container {
     padding: 0 50px;
 }

 header.scrolled {
    background: var(--accent-color);
} 

.skills-category {
    margin-bottom: 1rem;
    font-size: 18px;
    gap: 0.5px 3px;
    padding-left:20px;
    padding-right: 20px
}

.skills-category h4 {
    color: var(--primary-color);
    margin-bottom: 0.5rem;
    font-size:18px;
}
.skills-category h3 {
    color: var(--primary-color);
    margin-bottom: 0.5rem;
    font-size: 18px;
}
.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #fff;
    margin: 0 20px;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 35px;
}

.header-items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.social-links a:hover {
    color: #0066cc;
}

.skills-category ul {
    list-style-type: none;
}

.skills-category ul li {
    background: var(--secondary-color);
    margin-bottom: 0.5rem;
    padding: 2rem;
    border-radius: 10px;
    font-size: 18px;
}
.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

 .container {
     width: 90%;
     margin: auto;
     overflow: hidden;
 }

 .containerl{
    width: 90%;
        margin: auto;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
 }

 nav h1 {
     display: inline;
     margin: 0;
     font-size: 2rem;
 }

 nav ul {
     list-style: none;
     float: right;
     margin: 0;
     padding: 0;
 }

 nav ul li {
     display: inline;
     margin-left: 4rem;
 }

 nav ul li a {
     text-decoration: none;
     color: var(--text-color);
     font-weight: bold;
     transition: color 0.3s;
 }

 nav ul li a:hover {
     color: var(--accent-color);
 }

 .main {
     padding: 3rem 0;
 }

 #home {
     height: 50vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background: var(--bg-color);
    text-align: center;
 }


 #home .content {
     text-align: center;
     color:black;
     font-size: 38px;
 }

  #home h1 {
     margin: 0;
     font-size: 3rem;
 }


 #tagline {
     font-size: 2rem;
     margin: 1rem 0;
 }

 #tagline #rotating-text {
     font-weight: bold;
     transition: opacity 0.5s ease;
     font-size: 23px;
     background-color: #c4d7e4;
 }

 .subtext {
     margin-bottom: 1rem;
 }

 .cta-buttons {
     display: flex;
     justify-content: center;
     gap: 1rem;
 }

 .cta-button {
     display: inline-block;
     padding: 0.2rem 0.1rem;
     border-radius: 5px;
     background: var(--accent-color);
     color: var(--bg-color);
     text-decoration: none;
     font-weight: bold;
     transition: background 0.3s;
     border: 2px solid var(--border-color);
 }

 .profile-photo {
    justify-content: center;
    border-radius: 50%;
    width: 30%;
 }


 .about-text p {
     font-size: 30px;
 }

 .highlight-mixed {
     background-color:#c4d7e4;
     font-weight: bold;
     padding: 2px 4px;
     border-radius: 4px;
 }
.highlighter{
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
}

.highlight{
    background-color: #c4d7e4;
        /* font-weight: bold; */
        padding: 2px 4px;
        border-radius: 4px;
}
.about-content {
    display: flex;
    align-items: center;
    gap: 200px;
    font-size: 30px;
}
 .cta-button.secondary {
     background: var(--secondary-color);
     color: var(--text-color);
 }

 .cta-button:hover {
     background: var(--primary-color);
    color: var(white);
 }

 #about,
 #projects,
 #contact {
     padding: 3rem 0;
     background: var(--secondary-color);
     transition: background 0.3s;
 }

 #about h2,
 #projects h2,
 #contact h2 {
     text-align: center;
     margin-bottom: 1.5rem;
     font-size: 34px;
 }

 #skills ul {
     list-style: none;
     padding: 0;
 }


 .project-grid {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
 }

 .project-card {
     background: var(--card-bg-color);
     width: 36%;
     height: auto;
     margin: 2rem 0;
     padding: 2rem;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     transition: box-shadow 0.3s;
     cursor: pointer;
        font-size: 30px;
 }

 .project-card:hover {
     transform: scale(1.05);
     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
 }

 .project-card img {
     width: 100%;
     height: auto;
 }

 .project-card h3 {
     margin: 1rem 0 0.5rem;
 }

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.modal .container {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
}

 .modal-content img {
     width: 100%;
     height: auto;
 }

 .close {
     color: var(--text-color);
     float: right;
     font-size: 3rem;
 }

 .close:hover,
 .close:focus {
     color: var(--accent-color);
     text-decoration: none;
     cursor: pointer;
 }

 #contact form {
     display: flex;
     flex-direction: column;
     gap: 1.2rem;
 }

 #contact input,
 #contact textarea {
     padding: 1rem;
     border: 1px solid var(--text-color);
     border-radius: 5px;
     font-size: 1.4rem;
 }

 #contact button {
     padding: 1rem 1.4rem;
     border: none;
     border-radius: 5px;
     background: var(--accent-color);
     color: var(--bg-color);
     font-size: 1.5rem;
     font-weight: bold;
     cursor: pointer;
     transition: background 0.3s;
    display: block;

 }

 #contact button:hover {
     background: var(--primary-color);
 }

 footer {
     text-align: center;
     padding: 1rem 0;
     background: var(--primary-color);
     color: var(--bg-color);
     transition: background 0.3s;
 }

 .footer{
    font-size: 9px;
 }


 footer span {
     cursor: help;
 }



 .fade-in.appear {
     opacity: 1;
     transform: translateY(0);
 }   

 #about,
 #work {
     padding: 4rem 0;
     background: var(--secondary-color);
 }

 #about h2,
 #work h2 {
     text-align: center;
     margin-bottom: 2rem;
     font-size: 2.5rem;
     color: var(--primary-color);
 }

 #about p {
     font-size: 1.1rem;
     line-height: 1.6;
     margin-bottom: 1.5rem;
 }

#skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2px 5px;
    display: flex;
    flex-wrap: wrap;
}

 #skills h3 {
     font-size: 1.8rem;
     color: var(--primary-color);
 }

#skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    width: 100%;
    margin-left: 0;
}

 #skills li {
     background: var(--accent-color);
     color: white;
     padding: 0.5rem 1rem;
     border-radius: 20px;
     font-size: 1rem;
    display: flex;
        justify-content: center;
        flex-wrap: wrap;
 }

 .work-item {
     background: white;
     padding: 2rem;
     margin-bottom: 2rem;
     border-radius: 8px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     margin-top: 0px;
 }

 .work-item h3 {
     font-size: 1.5rem;
     color: var(--primary-color);
     margin-bottom: 0.5rem;
 }

 .work-date {
     font-style: italic;
     color: #666;
     margin-bottom: 1rem;
 }

 .work-item ul {
     padding-left: 1.5rem;
 }

 .work-item li {
     margin-bottom: 0.5rem;
 }

.custom-link {
    color: #000;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.custom-link:hover {
    background-color: moccasin
}

  @media (min-width: 768px) {
      .about-text p {
          font-size: 28px;
      }
  }

  @media (min-width: 992px) {
      .about-text p {
          font-size: 32px;
      }
  }

   h1 img {
       width: 300px;
       height: auto;
   }

   @media (min-width: 768px) {
       body {
           font-size: 18px;
       }

       .container {
           width: 90%;
       }

       #home h1 {
           font-size: 2.5rem;
       }

       #tagline {
           font-size: 1.75rem;
       }

       #skills {
           display: grid;
           grid-template-columns: repeat(2, 1fr);
       }

       .project-card {
           width: 100%;
       }
   }

  @media (max-width: 375px) {
      body {
          font-size: 13px;
      }

      .container {
          width: 90%;
      }

      .active .content h1 {
          font-size: 21px;
          padding-top: 40px;
      }

      #tagline {
          font-size: 12px;
      }

      #tagline #rotating-text {
          font-size: 22px;
      }

      .subtext {
          font-size: 9px;
      }

      .cta-buttons .cta-button {
          font-size: 10px;
          padding: 4px 8px;
      }

      #skills {
          grid-template-columns: 1fr;
      }

      h1,
      h2,
      h3,
      h4 {
          font-size: 10px;
      }
  }

   @media (min-width: 1024px) {
       body {
           font-size: 20px;
       }

       .container {
           width: 80%;
       }

       #home h1 {
           font-size: 4rem;
       }

       #tagline {
           font-size: 4rem;
       }

       #skills {
           grid-template-columns: repeat(4, 1fr);
       }

       .project-card {
           width: 40%;
       }
   }

@media (max-width: 768px) {
    header {
        padding: 0.1rem 0;
    }

    nav ul {
        float: none;
        text-align: center;
        margin-top: 1rem;
    }

    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        gap: 2rem;
    }

    .profile-photo {
        width: 60%;
    }

    .about-text p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    #home .content {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        font-size: 1.5rem;
    }

    .skills-category ul li {
        font-size: 1rem;
    }
}

@media (max-width: 1200px) {
    .skills-category {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 30px;
    }

    .skills-category h4 {
        font-size: 30px;
    }

    .skills-category h3 {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .skills-category {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 25px;
    }

    .skills-category h4 {
        font-size: 25px;
    }

    .skills-category h3 {
        font-size: 40px;
    }
        .social-links a {
            color: #fff;
            margin: 0 20px;
            font-size: 1.5rem;
            text-decoration: none;
            transition: color 0.3s;
            font-size: 28px;
        }
}

@media (max-width: 480px) {
    .skills-category {
        font-size: 15px;
    }

    .skills-category h4 {
        font-size: 18px;
    }

    .skills-category h3 {
        font-size: 25px;
    }

    #skills {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #skills ul {
        margin-left: 0;
        gap: 0.5rem;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #skills li {
        font-size: 0.6rem;
        padding: 0.2rem 0.7rem;
        margin: 0.1rem 0;
        width: auto;
    }
}
 .interests-list {
     font-size: 34px;
     list-style-type:square;
     padding-left: 20px;
     margin-left:50px;

 }


 .figma-images {
     margin-top: 30px;
     max-height: 460px;
     /* Adjust min-height as needed */
 }

 .figma-images h4 {
     margin-bottom: 10px;
 }

 .figma-images .image-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }
.figma-images .image-container img {
    width: 40%;
    height: px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
 .figma-images .image-container img:last-child {
     margin-right: 0;
 }

 .menu-toggle {
     display: none;
     flex-direction: column;
     cursor: pointer;
     align-items: flex-end;
 }

 .menu-toggle div {
     width: 20px;
     height: 2px;
     background-color: #333;
     margin: 4px 0;
 }

 @media (max-width: 768px) {
     .menu-toggle {
         display: flex;
     }

     .header-items {
         display: none;
         flex-direction: column;
         width: 100%;
     }

     .header-items.show {
         display: flex;
     }

     .header-items li {
         margin-left: 0;
         margin-top: 10px;
     }
 }

 @media (max-width: 768px) {
     .project-title {
         font-size: 13px;
     }

     .project-description {
         font-size: 16px;
     }
 }

 @media (max-width: 480px) {
     .project-title {
         font-size: 10px;
     }

     .project-description {
         font-size: 10px;
     }

     .project-card{
        width:100%;
     }

     .cta-buttons+.cta-button{
        margin-left: 0px;
        gap:0px;
     }
 }

 .fade-in {
     opacity: 0;
     transform: translateY(20px);
     transition: opacity 0.5s ease, transform 0.5s ease;
 }

 .fade-in.active {
     opacity: 1;
     transform: translateY(0);
 }

 .cta-button+.cta-button {
     margin-left: 15px;
 }


 @media (max-width: 360px) {
     #home .content {
         font-size: 1rem;
     }

     h1,
     h2,
     h3,
     h4 {
         font-size: 1.5rem;
     }

     .skills-category ul li {
         font-size: 1rem;
     }
 }